body {

}

.card-deck {
    margin-top: 56px;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}



.card-text {
    font-size: 18px; /* Adjust the font size of the card text as needed */
}

.card-title {
    font-size: 20px; /* Adjust the font size of the card title as needed */
}
